<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccnu.paper_service.mapper.TwoDefendantMapper">
    <insert id="saveTwoDefendant" parameterType="DefendantTwo" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
      INSERT INTO `defendant_two`
      ( `one_name`, `two_name`, `one_sex`, `two_sex`, `one_address`, `two_address`, `one_card_num`, `two_card_num`, `lawyer_id`)
      VALUES
      (#{oneName,jdbcType = VARCHAR}, #{twoName,jdbcType = VARCHAR},#{oneSex,jdbcType = VARCHAR}, #{twoSex,jdbcType = VARCHAR},
      #{oneAddress,jdbcType = VARCHAR}, #{twoAddress,jdbcType = VARCHAR}, #{oneCardNum,jdbcType = VARCHAR}, #{twoCardNum,jdbcType = VARCHAR},
      #{lawyerId,jdbcType = INTEGER});
    </insert>
    <select id="listDefendantTwoByLawyerId" resultType="DefendantTwo">
        select * from  defendant_two where lawyer_id = #{lawyer_id}
    </select>



</mapper>


